@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    box-sizing: border-box;

}

:root {
    --texto-general: 'Montserrat', sans-serif;
}

.blog-container {
    padding: 10px;
    font-family: var(--texto-general);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 100%;

}

.blog-container h2 {
    font-family: var(--texto-general);
    font-size: 1.875rem;
    padding-bottom: 3rem;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container .container2 {
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;

}

.img-blog {
    background-size: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 12px;
}

.blog-container p {
    font-family: var(--texto-general);
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 2rem;
}

@media (min-width: 320px) and (max-width: 800px) {

    .blog-container {
        height: auto;
        width: auto;
    }

    .blog-container h2 {
        font-size: 1.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}