@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --texto-general: 'Montserrat', sans-serif;
}


.contacto {
    padding: 10px;
    height: auto;
    width: 100%;
    justify-content: center;
}

.contacto h2 {
    text-align: center;
    font-family: var(--texto-general);
    font-size: 1.85rem;
    padding-bottom: 2rem;
}


.formulario-principal {
    display: flex;
    justify-content: space-around;
    width: auto;
    padding: 20px;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    align-items: center;
}

.formulario h1 {
    padding-bottom: 8vh;
}

.formulario-principal form {
    font-family: var(--texto-general);
    width: 500px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}


input,
textarea {
    font-family: var(--texto-general);
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #97B3A5;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 16px;
    color: #512161;
}

input[type="submit"] {
    background-color: #97B3A5;
    color: #512161;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #512161;
    color: #97B3A5;
}

/* Lado Redes */



.redes {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.redes h1 {
    padding-bottom: 15vh;
}



.sides {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.redes .logo_social {
    height: 80px;
    width: 80px;
}

/* .redes .logo_social1 {
    height: 80px;
    width: 80px;
} */

.redes-izq {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 4vh;
    padding-bottom: 4vh;

}

.redes-der {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 4vh;
}

@media (min-width: 320px) and (max-width: 479px) {

    .contacto h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .formulario-principal {

        display: flex;
        flex-direction: column;
    }

    /* .formulario-principal h2 {
        font-size: 1rem;
    } */

    .formulario {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .formulario form {
        width: 300px;
    }

    .formulario input {
        font-size: .75rem;

    }

    .redes {
        display: flex;
        flex-direction: column;
    }


}