@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

:root {
    --texto-general: 'Montserrat', sans-serif;

}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.pie {
    display: flex;
    background-color: black;
    color: white;
    height: 30vh;
    align-items: center;
}

.pie-ima {
    width: 60%;
    text-align: center;
}


.pie-ima img {
    height: 13.5vh;
    width: 44vh;
}

.pie-lista li {
    color: white;
    font-family: var(--texto-general);
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.pie-lista a {
    color: white;
}

.pie-lista a:hover {
    color: #97B3A5;
}

.pie-lista ul {
    color: white;
}

.sign {
    background-color: black;
}

.sign p {
    padding-right: 2%;
    text-align: right;
    color: white;
    font-size: .75rem;
}

@media (min-width: 320px) and (max-width: 479px) {
    .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .pie img {
        padding: 20px;
        height: 12vh;
        width: 25vh;
    }

    .pie-lista li {
        font-size: 1.5rem;
        text-align: center;
        margin: 8px;
    }

    .pie-lista a {
        color: white;
    }


}