@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {

    --texto-general: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/*header*/

.cabecera {
    font-family: var(--texto-general);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
    flex-shrink: 0;
    padding-left: 4rem;
}

.logo img {
    width: 8rem;
    height: 8rem;
}

.menu {
    width: 50%;
}

.menu .lista_cabecera {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.menu a {
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 0.75rem;
    padding-right: 20px;
    margin: 8px;
}

.menu a:hover{
    color: #97B3A5;
}



@media (min-width: 320px) and (max-width: 479px) {
    header {
        height: 3vh;
        display: flex;
        padding: 2px;
    }

    .logo {
        display: none;
    }

    .menu nav {
        justify-content: flex-start;
        display: flex;
        flex-direction: row;

    }

    .menu a {
        font-size: .8rem;

    }
}

/* @media (min-width: 800px) and (max-width: 1024px){
    header{
  
    padding: 0%;
    margin: 0%;
    }

    .menu nav {
        justify-content: space-around;
        display: flex;
        flex-direction: row;

    }

} */