@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #512161;
}

:root {
    --texto-general: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/*Nosotros*/

.about {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: var(--texto-general);
    height: 30rem;
    flex-shrink: 0;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about-text h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.about-text p {
    padding-left: 5%;
    padding-right: 5%;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 400;
}

.about-text ul {
    padding-left: 10%;
    padding-bottom: 20px;
    list-style-type: square;
    line-height: 1.5;
}

@media (min-width: 320px) and (max-width: 479px) {
    .about-text h1 {
        font-size: 1.5rem;

    }

    .about-text p {
        font-size: .75rem;

        text-align: center;
    }

    .about-text ul {
        font-size: .75rem;
        list-style-type: none;
        text-align: center;
    }
}