@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #512161;
}

:root {
    --texto-general: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/*Nosotros*/

.about {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    font-family: var(--texto-general);
    height: 38rem;
    flex-shrink: 0;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about-text h2 {
    font-family: var(--texto-general);
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.about-text p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}

.negrita {
    font-weight:900;

}

.about-text ul {
    padding-bottom: 20px;
    list-style-type: none;
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 800px) {
    .about{
        height: 45rem;
        padding-bottom: 0;
    }
    .about-text h2 {
        font-size: 1.5rem;

    }

    .about-text p {
        font-size: 1rem;
        text-align: center;
    }

    .about-text ul {
        font-size: 1rem;
        list-style-type: none;
        text-align: center;
    }
}