@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #512161;
}

:root {
    --lineas-verdes: #08d85a;
    --texto-general: 'Montserrat', sans-serif;
}





a {
    text-decoration: none;
}

/*header*/

.cabecera {
    font-family: var(--texto-general);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.flex-contenedor {

    display: flex;
    justify-content: center;
    display: flex;
    width: 64rem;
    height: 8rem;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    flex-shrink: 0;
    padding-left: 4rem;
}

.logo .img-logo {
    width: 8rem;
    height: 8rem;

}

.menu-cabecera {
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 0.75rem;
    padding-right: 30px;
}


/*Iniciamos portada*/

.cover {
    flex-shrink: 0;
    font-family: var(--texto-general);
}


.texto h1 {
    color: #512161;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
    position: absolute;
    top: 160px;
    left: 35px;

}

.img-cover img {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

/*Nosotros*/

.about {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: var(--texto-general);
    height: 30rem;
    flex-shrink: 0;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about-text h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.about-text p {
    padding-left: 5%;
    padding-right: 5%;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: justify;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 400;
}

.about-text ul {
    padding-left: 10%;
    padding-bottom: 20px;
    list-style-type: square;
    line-height: 1.5;
}

/* Servicios */

.servicios {
    padding-bottom: 20px;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: var(--texto-general);
    border-width: 1px;
    border-style: solid;
    border-color: black;

}

.servicios-text h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 30px;
}

.opciones-servicios {
    position: relative;
    display: inline-block;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

.img-ser {
    width: 35.125rem;
    height: 35.6875rem;
}

.opciones-servicios .text-venta {
    width: 35.125rem;
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    top: 80%;
    align-items: center;
    background-color: #D9D9D9;
}

.opciones-servicios .text-renta {
    width: 35.125rem;
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    top: 80%;
    align-items: center;
    background-color: #D9D9D9;
}

/* Desarrolllos Exclusivos */

